body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    position: relative;
    align-content: center;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    width: 100vw;
}

#pickLang {
    visibility: visible;
}

#enterDest {
    visibility: hidden;
}

#giveLang {
    visibility: hidden;
}